<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <h1>Restaurant Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/person">Persons</a></li>
            <li><a href="/menu">Menu</a></li>
        </ul>
    </nav>
    <main>
        <h2>Welcome to the Ramji Restaurant,Nodia</h2>
        <p>Manage your restaurant efficiently and effectively.</p>
    </main>
    <footer>
        <p>&copy; 2024 Restaurant Management System</p>
    </footer>
</body>
</html>
