<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/menuItemCreated.css">
</head>
<body>
    <a href="/menu">Back To All Menu Items</a>
    <a href="/menu/create">Create New</a>
    <a href="/">Home</a>
    <p>Menu Item is Created and Updated !</p>
</body>
</html>
