<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/personCreated.css">
</head>
<body>
    <a href="/person">Back To All Person</a>
    <a href="/person/create">Create New</a>
    <a href="/">Home</a>
    <p>Person is Created</p>
</body>
</html>