*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

nav {
    /* margin-bottom: 20px; */
    background-color: black;
    padding: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
}

form input[type="checkbox"] {
    margin-top: 5px;
    margin-bottom: 15px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
